body {
  overflow_x: hidden;
  margin: 0px;
  padding: 0px;
}

.container {
  margin-top: 100px;
  margin-bottom: 100px;
}

.banner {
  display: block;
  margin: 50px auto;
  width: 100%;
}

#products > .col-md-4 {
  margin-top: 50px;
}

.card {
  padding: 25px;
}

.card-img {
  display: block;
  margin: 25px auto;
}

.card-title {
  font-weight: bold;
  font-size: 120%;
}

.card-subtitle {
  font-size: 90%;
  font-style: italic;
}

.card-text {
  min-height: 75px;
}

.card > button {
  display: block;
  margin: 25px auto;
  width: 80%;
}

.prof-thumb-pic {
  width: 30px
  height: 30px;
  margin-bottom: 10px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.card > h4 {
  padding-top: 15px;
}

#posts > .card:nth-child(n+2) {
  margin-top: 30px;
}

footer{
  background-color: #343a40!important;
}

footer p {
  color: rbga(255, 255, 255, .5);
  padding: 15px
}
